*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Nunito', sans-serif;
  background-color: #F2F3F4;
}


.container{
  margin: auto;
  margin-top: 30px;

  background-color: white;
  width: 70%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.column{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 10px;
}

.gameCard{
  flex-basis: 25%;
  margin: 20px;
  
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  
}
.cardImg img{
  max-width: 100%;
}


/* CARD GAME */
#CardGameSection .column{
  width: 60%;
}
#CardGameBoard{
  display: grid;
  grid-template-columns: repeat(2, 4rem);
  grid-template-rows: 7rem 2rem 7rem;
  gap: 2rem;
  justify-content: center;
  
  width: 100%;
  padding-top: 1rem;

  background-image: url("../images/card-game-background.jpg");
  background-size:cover;
  padding: 1rem;
  color: black;
  border: solid 1px black;
}

.deck{
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100%;
  width: 100%;

  background-image: url("../images/card-game-card.jpg");
  background-position: center;
  background-size:cover;
  border: solid 1.5px rgba(68, 67, 67, 0.856);
  font-size: 2rem;
  border-radius: 0.5rem;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.computer-deck{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  text-shadow: .5px .5px 0px rgba(255, 255, 255, 0.527);
  color: rgb(6, 13, 53);
  background-color: rgba(135, 135, 136, 0.836);
}

.player-deck{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: rgb(6, 13, 53);
  background-color: rgba(135, 135, 136, 0.836);
  text-shadow: .5px .5px 0px rgba(255, 255, 255, 0.452);
}

.game-score{
  display: flex;
  align-items: center;
  justify-content: center;

  grid-column: span 2;
}

.card{
position: relative;
display: flex;
justify-content: center;
align-items: center;

height: 100%;
width: 100%;

background-color: #F2F3F4;
border: 1px solid black;
border-radius: 0.5rem;
font-size: 4rem;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.card.red{
color: rgba(136, 32, 28, 0.986);
}
.card.black{
  color: rgba(29, 29, 29, 0.966);
  }
.card::before, 
.card::after{
  content: attr(data-value);

  position:absolute;

  letter-spacing: .1rem;
font-size: 1rem;
}
.card::before{
top: .5rem;
left: .5rem;
}
.card::after{
bottom: .5rem;
right: 0.5rem;

transform:rotate(180deg);
}